@import '../../../colors.scss';

.player-button {
  height: 50px;
  width: 85px;
  display: flex;
  position: relative;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;

  .content {
    .number {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .name {
      font-size: 0.75rem;
      text-align: center;
      text-wrap: wrap;
    }
  }

  .fouls {
    position: absolute;
    background-color: $red;
    border-bottom-right-radius: 5px;
    padding: 0 5px;
    font-size: 0.65rem;
    top: 0;
    left: 0;
    transition: transform 0.1s ease-in-out;

    &.fouls-animate {
      animation: foul-update-animation 1s ease-in-out;
    }
  }

  .captain-indicator {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $tertiary70;
    border-bottom-left-radius: 5px;
    color: $black;
    padding: 0 5px;
    font-size: 0.65rem;
  }
}

@keyframes foul-update-animation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
