.additional-foul-button {
  &-pop-up-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .column {
      padding: 0 6px;

      .button {
        margin: 6px 0;
      }
    }
  }
}

.foul-letter.is-circled {
  display: inline-block;
  min-width: 1.5em;
  padding: 0 3px;
  border: 1px solid currentColor;
  border-radius: 50px;
  line-height: 1.3;
  text-align: center;
}
