.player-additional-foul-button {
  &-pop-up-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;

    .button {
      margin: 6px 0;
    }

    .button:first-child {
      margin: 0;
    }

    .button:last-child {
      margin: 0;
    }
  }
}
