$black: #000000;
$brown: #757763;
$dark: #1e1200;
$dark-light: #343434;
$white: #fdfdff;
$white-dark: #eeeeee;
$red-dark: #750608;
$red: #970c10;
$red-light: #e91919;
$green: #2b5615;
$green-light: #3d7068;
$tertiary70: #4fc1d7;
$warning: var(--bulma-warning);
