@import '../colors.scss';

.players-controls {
  .on-court {
    border: 1px dotted $white-dark;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    min-height: 50px;
  }

  .coach-controls {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .substitution-controls {
    display: flex;
    gap: 0.25rem;

    button {
      width: 40px;
      height: 40px;
    }
  }
}
