@import '../colors.scss';

.team-controls {
  position: relative;

  .caption {
    position: absolute;
    top: 0;
    font-size: 0.75rem;

    &.home {
      left: 1.5rem;
    }

    &.away {
      right: 1.5rem;
    }
  }

  .is-flex-direction-row-reverse {
    .logo-container .logo {
      left: 5px;
    }
  }

  .logo-container {
    position: relative;

    .logo {
      top: 0;
      right: 5px;
      position: absolute;
      width: 65px;
      height: 65px;
    }
  }

  .team-stat {
    color: $white-dark;
    display: flex;
    margin: 0.5rem 0;
    justify-content: space-between;
  }
}
