@import '../colors.scss';

.team-controls {
  position: relative;

  .caption {
    position: absolute;
    top: 0;
    font-size: 0.75rem;

    &.home {
      left: 1.5rem;
    }

    &.away {
      right: 1.5rem;
    }
  }

  .is-flex-direction-row-reverse {
    .logo-container .logo {
      left: 5px;
    }
  }

  .logo-container {
    position: relative;

    .logo {
      top: 0;
      right: 5px;
      position: absolute;
      width: 65px;
      height: 65px;
    }
  }

  .team-name p {
    text-wrap-mode: nowrap;
    overflow: hidden;
  }

  .team-stats {
    transition: background-color 0.5s linear;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: gray;
    }
  }

  .team-stat {
    color: $white-dark;
    display: flex;
    margin: 0.5rem 0;
    justify-content: space-between;

    .stat-timeouts {
      span {
        padding: 0.25rem 0.5rem;

        &.consumed {
          background-color: $red;
        }

        &.remaining {
          background-color: $green;
        }
      }
    }
  }
}
