@import '../colors.scss';

.team-controls {
  position: relative;

  .caption {
    position: absolute;
    top: 5px;
    font-size: 0.75rem;

    &.home {
      left: 1.5rem;
    }

    &.away {
      right: 1.5rem;
    }
  }

  .is-flex-direction-row-reverse {
    .logo-container .logo {
      left: 5px;
    }
  }

  .logo-container {
    position: relative;
    padding-bottom: 0;
    margin-bottom: 0.3rem;

    .logo {
      top: 0;
      right: 5px;
      position: absolute;
      width: 65px;
      max-width: 65px;
      height: 65px;
      max-height: 65px;
    }
  }

  .team-name {
    padding-bottom: 0;
    margin-bottom: 0.3rem;

    .team-color {
      display: inline-block;
      width: 30px;
      min-width: 30px;
      height: 30px;
      min-height: 30px;
      border-radius: 3px;
    }

    p {
      text-wrap-mode: nowrap;
      overflow: hidden;
      margin: 0 0.5rem;
    }
  }

  .score-container {
    padding-bottom: 0;
    margin-bottom: 0.3rem;
  }

  .team-stats {
    transition: background-color 0.5s linear, transform 0.3s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      background-color: gray;
    }

    &.is-sliding {
      transform: scale(0.95);
      opacity: 0.7;
    }

    .quarter-stats-container {
      .timeout-section {
        .timeout-badge {
          display: inline-block;
          padding: 0.25rem 0.5rem;
          margin-right: 0.25rem;
          border-radius: 3px;
          font-size: 0.65rem;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 0.5px;

          &.consumed {
            background-color: $tertiary70;
            color: black;
          }

          &.remaining {
            background-color: $green-light;
            color: black;
          }
        }
      }

      .quarter-stats-section {
        border-left: 2px solid rgba(255, 255, 255, 0.1);
        padding-left: 1rem;

        .quarter-stat {
          margin: 0.5rem 0;
          align-items: center;

          .stat-label {
            min-width: 30px;
          }

          .quarter-stat-value {
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 0.75rem;

            &.high-fouls {
              background-color: $red;
              color: white;
            }
          }
        }
      }
    }
  }

  .team-stat {
    color: $white-dark;
    display: flex;
    margin: 0.5rem 0;
    justify-content: space-between;

    .stat-timeouts {
      span {
        padding: 0.25rem 0.5rem;

        &.consumed {
          background-color: $red;
        }

        &.remaining {
          background-color: $green;
        }
      }
    }
  }
}
