services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        EX_VERSION: 1.18.4
        PHX_VERSION: 1.6.2

    volumes:
      - ..:/workspace:cached
      - vscode-extension:/root/.vscode-server-insiders

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Connect to both networks to access db and shared RabbitMQ
    networks:
      - default

    # Expose ports for the Phoenix app
    ports:
      - '4000:4000'
    # Uncomment the next line to use a non-root user for all processes.
    # user: node

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)

  scoreboard-db:
    image: postgres:10-alpine
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: go_champs_scoreboard_dev
    ports:
      - '5432:5432'
    # Add "forwardPorts": ["5432"] to **devcontainer.json** to forward MongoDB locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)
  redis:
    image: redis
    command: redis-server
    ports:
      - '6379:6379'

volumes:
  postgres-data:
  vscode-extension:
