{live_react_component("Components.ReportViewer", [report_data: Poison.encode!(@report_data)],
  id: "report-viewer-scoreboard",
  container: [style: "height: 100%; width: 100%; position: absolute; top: 0; left: 0;"]
)}
