{live_react_component("Components.ReportViewer", [game_data: Poison.encode!(@game_state)],
  id: "report-viewer-scoreboard",
  container: [style: "height: 100%; width: 100%; position: absolute; top: 0; left: 0;"]
)}
